{% extends 'base.html' %}

{% block title %}New task{% endblock %}

{% block content %}
    {% load bootstrap4 %}
    {{ form.media }}
    <h2>New card</h2>
    <div class='form' style="position: relative">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-success">Submit</button>
                <input class='btn btn-secondary' type=button value="Back" onClick="history.go(-1);">
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
