{% extends 'base.html' %}

{% block title %}Task info{% endblock %}
{% load task_tags %}
{% block content %}
    <h2>Task info</h2>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td class="title">ID</td>
            <td>{{ task.id }}</td>
        </tr>
        <tr>
            <td class="title">Title</td>
            <td>{{ task.title }}</td>
        </tr>
        <tr>
            <td class="title">Note</td>
            <td>{{ task.note }}</td>
        </tr>
        <tr>
            <td class="title">Category</td>
            <td>
                {% if foreign_category %}
                    {{ category.name }}
                {% else %}
                    <a href="{% url 'task_manager:tasks_by_category' category.id %}"> {{ category.name }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="title">Priority</td>
            <td>
                <h5><a class="badge badge-{% get_priority_badge_class task.priority %}"
                       href="{% url 'task_manager:tasks_by_priority' task.priority %}"> {{ priority }}</a></h5>
            </td>
        </tr>
        <tr>
            <td class="title">Status</td>
            <td>
                <h5><a class="badge badge-{% get_status_badge_class task.status %}"
                       href="{% url 'task_manager:tasks_by_status' task.status %}"> {{ status }}</a></h5>
            </td>
        </tr>
        <tr>
            <td class="title">Created at</td>
            <td>{{ task.created_at }}</td>
        </tr>
        <tr>
            <td class="title">Updated at</td>
            <td>{{ task.updated_at }}</td>
        </tr>
        <tr>
            <td class="title">Event</td>
            <td>{{ task.is_event }}</td>
        </tr>
        <tr>
            <td class="title">Start time</td>
            <td>{{ task.start_time }}</td>
        </tr>
        <tr>
            <td class="title">End time</td>
            <td>{{ task.end_time }}</td>
        </tr>
        <tr>
            <td class="title">Parent task</td>
            <td>
                {% if parent_task_title is not None %}
                    <a href="{% url 'task_manager:show_task' task.parent_task_id %}">{{ parent_task_title }}</a>
                {% else %}
                    {{ parent_task_title }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="title">Assigned user</td>
            <td>{{ assigned_user }}</td>
        </tr>
        <tr>
            <td class="title">Inner tasks</td>
            <td>
                {% for inner_task in inner_tasks %}
                    <a href="{% url 'task_manager:show_task' inner_task.id %}">{{ inner_task.title }}</a>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td class="title">Creator</td>
            <td>{{ creator }}</td>
        </tr>
        </tbody>
    </table>
    <input class='btn btn-primary' type=button value="Back" onClick="javascript:history.go(-1);">
    <div class='right'>
        <a href="{% url 'task_manager:edit_task' task.id %}" class='btn btn-warning'>Edit</a>
        <form style='display: inline-block;' action="{% url 'task_manager:delete_task' task.id %}" method='post'>
            {% csrf_token %}
            <button type='submit' class='btn btn-danger'
                    onclick="return confirm('Are you sure you want to delete this task?')">Delete
            </button>
        </form>
    </div>
{% endblock %}
