{% extends 'base.html' %}

{% block title %}Card info{% endblock %}
{% block content %}
    <h2>Card info</h2>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td class="title">ID</td>
            <td>{{ card.unique_id }}</td>
        </tr>
        <tr>
            <td class="title">Title</td>
            <td>{{ card.name }}</td>
        </tr>
        {% if card.description %}
            <tr>
                <td class="title">Description</td>
                <td>{{ card.description }}</td>
            </tr>
        {% endif %}
        {% if card.tags %}
            <tr>
                <td class="title">Tags</td>
                <td>
                    {% for tag in card.tags %}
                        <h5 style="display: inline-block">
                            <a href="{% url 'beb_manager:show_tag' board_id tag.unique_id %}"
                               class="badge badge-primary"
                               style="background-color: {{ tag.color }}">
                                {{ tag.name }}
                            </a>
                        </h5>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td class="title">Priority</td>
            <td>
                <h5>{{ card.priority }}</h5>
            </td>
        </tr>
        <tr>
            <td class="title">List</td>
            <td>
                ID: {{ card_list.unique_id }}, Name: {{ card_list.name }}
            </td>
        </tr>
        <tr>
            <td class="title">Created on</td>
            <td>{{ card.created }}</td>
        </tr>
        <tr>
            <td class="title">Updated on</td>
            <td>{{ card.last_modified }}</td>
        </tr>
        {% if card.expiration_date %}
            <tr>
                <td class="title">Expiration date on</td>
                <td>{{ card.expiration_date }}</td>
            </tr>
        {% endif %}
        {% if card.children %}
            <tr>
                <td class="title">Children cards</td>
                {% for child in card.children %}
                    <td>
                        <a href="{% url 'beb_manager:show_card' board_id child.unique_id %}">{{ child.name }}</a>
                    </td>
                {% endfor %}
            </tr>
        {% endif %}
        {% if card.assignee_id %}
            <tr>
                <td class="title">Assigned user</td>
                <td>{{ card.assignee_id.username }}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="title">Creator</td>
            <td>{{ card.user_id.username }}</td>
        </tr>
        {% if plan %}
            <tr>
                <td class="title">Interval</td>
                <td>{{ plan.interval }}</td>
            </tr>
            <tr>
                <td class="title">Last created on</td>
                <td>{{ plan.last_created_at }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <input class='btn btn-secondary float-right' type=button value="Back" onClick="javascript:history.go(-1);">
    <a {% if card.editable %}
        href="{% url 'beb_manager:edit_card' board_id card.unique_id %}"
    {% endif %}
        class='btn btn-primary'>Edit</a>
{% endblock %}
