{% extends 'base.html' %}
{% load fontawesome %}

{% block title %}Boards{% endblock %}
{% block plus_url %}{% url 'beb_manager:add_board' %}{% endblock %}

{% block content %}
    <h2>Boards</h2>

    <div class="card-columns">
        {% for beb_board in user_boards %}
            <a href="{% url 'beb_manager:lists' beb_board.unique_id %}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ beb_board.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">BoardID: {{ beb_board.unique_id }}</h6>
                        <a class="btn btn-outline-secondary btn-sm btn-lg btn-block"
                           href="{% url 'beb_manager:edit_board' beb_board.unique_id %}">
                            {% fontawesome_icon 'edit' %}
                        </a>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
