{% extends 'base.html' %}

{% block title %}Create List{% endblock %}

{% block content %}
    <h2>Create List</h2>
    <form method="post">
            {% csrf_token %}
            {% load bootstrap4 %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-success">Create</button>
                <input class='btn btn-secondary' type=button value="Back" onClick="history.go(-1);">
            {% endbuttons %}
    </form>
{% endblock %}
