{% extends 'base.html' %}
{% load fontawesome %}

{% block title %}Lists{% endblock %}
{% block plus_url %}{% url 'beb_manager:add_list' board_id %}{% endblock %}

{% block content %}
    <h2>Lists</h2>

    <div class="card-deck">
        {% for beb_list in beb_lists %}
            <div class="card">
                <div class="card-header">
                    {{ beb_list.list.name }}
                    <a href="{% url 'beb_manager:edit_list' board_id beb_list.list.unique_id %}"
                       class="btn btn-secondary btn-sm float-right">
                        {% fontawesome_icon 'edit' %}
                    </a>
                </div>
                <ul class="list-group list-group-flush">
                    {% for card in beb_list.cards %}
                        <li class="list-group-item">
                            {{ card.name }}
                            <a href="{% url 'beb_manager:edit_card' board_id beb_list.list.unique_id card.unique_id %}"
                               class="float-right">
                                {% fontawesome_icon 'edit' %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="card-footer">
                    <a href="{% url 'beb_manager:add_card' board_id beb_list.list.unique_id %}"
                       class="btn btn-success btn-sm float-right">
                        {% fontawesome_icon 'plus' %}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
