{% extends 'base.html' %}
{% load fontawesome %}


{% block title %}Lists{% endblock %}
{% block plus_url %}{% url 'beb_manager:add_list' board_id %}{% endblock %}

{% block content %}
    <h2>Lists
        <button type="button"
                class="btn btn-primary btn-sm float-right dropdown-toggle"
                style="margin-top: 5pt"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            {% fontawesome_icon 'tag' %} Tags
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            {% for tag in tags %}
                <a class="text-light" href="{% url 'beb_manager:show_tag' board_id tag.unique_id %}">
                    <div class="dropdown-item" style="background-color: {{ tag.color }}">
                        {{ tag.name }}
                        <a href="{% url 'beb_manager:edit_tag' board_id tag.unique_id %}"
                           class="float-right text-light">
                            {% fontawesome_icon 'edit' %}
                        </a>
                    </div>
                </a>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'beb_manager:add_tag' board_id %}">Add tag</a>
        </div>
    </h2>
    <div class="card-deck">
        {% for beb_list in beb_lists %}
            <div class="card">
                <div class="card-header">
                    {{ beb_list.name }}
                    <a {% if beb_list.editable %}
                        href="{% url 'beb_manager:edit_list' board_id beb_list.unique_id %}"
                    {% endif %}
                        class="btn btn-secondary btn-sm float-right">
                        {% fontawesome_icon 'edit' %}
                    </a>
                </div>
                <ul class="list-group list-group-flush">
                    {% for card in beb_list.cards %}

                        <li class="list-group-item">
                            <a {% if card.editable %}
                                href="{% url 'beb_manager:edit_card' board_id card.unique_id %}"
                            {% endif %}
                                class="float-right">
                                {% fontawesome_icon 'edit' %}
                            </a>
                            <div style="display: block">
                                {% for tag in card.tags %}
                                    <a href="{% url 'beb_manager:show_tag' board_id tag.unique_id %}"
                                       class="badge badge-primary"
                                       style="background-color: {{ tag.color }}">
                                        {{ tag.name }}
                                    </a>
                                {% endfor %}
                            </div>
                            <a href="{% url 'beb_manager:show_card' board_id card.unique_id %}">
                                {{ card.name }}
                            </a>
                            {% if card.expiration_date %}
                                <div style="display: block">
                                    <span class="badge
                                        {% if card.expiration_date.date <= today.date and card.expiration_date.time < today.time %}
                                            badge-danger
                                        {% else %}
                                            badge-light
                                        {% endif %}">
                                        {{ card.expiration_date }}
                                    </span>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <div class="card-footer">
                    <a {% if beb_list.editable %}
                        href="{% url 'beb_manager:add_card' board_id beb_list.unique_id %}"
                    {% endif %}
                        class="btn btn-success btn-sm float-right">
                        {% fontawesome_icon 'plus' %}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
